* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Roboto, sans-serif;
}


input[type="text"],
input[type="number"],
input[type="date"] {
      min-width: 15rem;
      max-width: 15rem;
}

.wrapper {
      background-image: url('./assets/image3.jpg');
      background-repeat: no-repeat;
      background-size: cover;
}

.mainForm {

      background: whitesmoke;
}